<template>
  <div class="container" :class="{expanded: showSidebar}">
    <div class="content" @click="showSidebar = false">
      <content-body :genfiles="genfiles" />
    </div>
    <menu-icon class="sidebar-button menu" @click="showSidebar = true"/>
    <info-box class="info" :expanded="showInfo" :onclose="oninfoclose" >
      <div v-html="infoHtml" />
    </info-box>
    <div class="sidebar-unit sidebar">
      <div class="sidebar-inset">
        <close-icon
          class="sidebar-button sidebar-unit close"
          @click="showSidebar = false"
          :class="{expanded: showSidebar}"
        />
        <toc :genfiles="genfiles" />
      </div>
    </div>
  </div>
</template>

<static-query>
query {
  description: genfile(id: "description") { content }
  endorsements: genfile(id: "endorsements") { content }
  titlepage: genfile(id: "titlepage") { content }
  copyright: genfile(id: "copyright") { content }
  dedication: genfile(id: "dedication") { content }
  errata: genfile(id: "errata") { content }
  foreword: genfile(id: "foreword") {
    type
    title
    subtitle
    content
    footnotes {
      id
      num
      content
    }
  }
  chapters: allGenfile(
    filter: { type: { eq: "chapter" } },
    sortBy: "index",
    order: ASC
  ) {
    edges {
      node {
        id
        type
        title
        subtitle
        content
        chapterlabel
        footnotes {
          id
          num
          content
        }
      }
    }
  }
  appendices: allGenfile(
    filter: { type: { eq: "appendix" } },
    sortBy: "index",
    order: ASC
  ) {
    edges {
      node {
        id
        type
        title
        content
        chapterlabel
        footnotes {
          id
          num
          content
        }
      }
    }
  }
}
</static-query>

<script>
import CloseIcon from 'vue-material-design-icons/Close.vue';
import MenuIcon from 'vue-material-design-icons/Menu.vue';

import ContentBody from '~/components/ContentBody'
import InfoBox from '~/components/InfoBox'
import Toc from '~/components/Toc'
import metadata from '~/data/metadata.json'
import hooks from '~/lib/hooks'

export default {
  components: {
    CloseIcon,
    ContentBody,
    InfoBox,
    MenuIcon,
    Toc
  },
  data () {
    return {
      infoHtml: '',
      metadata,
      nearHash: false,
      showInfo: false,
      showSidebar: false
    }
  },
  computed: {
    genfiles () {
      return Object.assign({}, this.$static, {
        chapters: this.$static.chapters.edges.map(e => e.node),
        appendices: this.$static.appendices.edges.map(e => e.node)
      })
    },
    footnotes () {
      return Object.fromEntries(this.genfiles.chapters
        .concat(this.genfiles.appendices)
        .map(n => n.footnotes || [])
        .flat()
        .map(f => [f.id, f]))
    }
  },
  methods: {
    oninfoclose () {
      this.showInfo = false
    },
    onsidebarclose () {
      this.showSidebar = false
    },
    handleHash(hash) {
      if (!hash.startsWith('#fn')) return false
      const fn = this.footnotes[hash.substring(3)]
      if (!fn) return false
      this.showInfo = true
      this.infoHtml = fn.content
      return true
    }
  },
  async mounted () {
    Array.from(document.querySelectorAll('a'))
      .forEach(a => {
        if (!a.getAttribute('href').startsWith('#')) return
        a.addEventListener('click', e => {
          // This lets us jump to the same hash twice.
          location.hash = ''
        })
      })

    await hooks.mounted()

    this.handleHash(this.$route.hash)

    // give the page a moment to jump to the anchor, then turn on smooth
    // scrolling.
    await new Promise(r => setTimeout(r, 1))
    document.querySelector('html').style.scrollBehavior = 'smooth'
  },
  beforeRouteUpdate (to, from, next) {
    if (this.handleHash(to.hash)) return false
    next()
  },
  metaInfo: {
    title: metadata.subtitle,
    titleTemplate: `${metadata.title} - %s`
  }
}
</script>

<style scoped>
.container {
  --toc-width: 22rem;
  --content-left: 0rem;
  --toc-start: calc(-1 * var(--toc-width) - 4rem);
  --close-space: 5rem;

  width: 100%;
}

.container.expanded {
  --toc-start: 0;
}

.sidebar-button {
  position: fixed;
  top: .5rem;
  padding: .5rem;
  border-radius: 10px;
  border: 2px solid black;
  background-color: var(--lightest-gray);
}

.menu {
  left: -.5rem;
  cursor: pointer;
  box-shadow: 5px 0 7px 1px #ccc;
}

.sidebar-unit {
  box-shadow: 5px 0 7px 1px #ccc;
  border-right: 2px solid black;
  transition: left .25s;
}

.sidebar {
  position: fixed;
  height: 100vh;
  width: var(--toc-width);
  max-width: calc(100vw - var(--close-space));
  left: var(--toc-start);
  margin: 0;
  transition: left .25s;
  background-color: var(--lightest-gray);
}

.sidebar-inset {
  height: 100vh;
  position: relative;
}

.sidebar.expanded {
  left: 0;
}

.close {
  position: absolute;
  left: 100%;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  cursor: pointer;
  border-left: none;
}

.content {
  position: absolute;
  left: var(--content-left);
  width: calc(100% - var(--content-left));
}

.info {
  left: var(--content-left);
  width: calc(100% - var(--content-left));
}

/* min width necessary for sidebar */
@media only screen and (min-width: 60rem) {
  .container {
    --content-left: var(--toc-width);
    --toc-start: 0;
  }

  .menu,
  .close {
    display: none;
  }
}
</style>
