<template>
  <section>
    <h1>Bibliography</h1>
    <ul class="content-list">
      <li v-for="s in sources" v-html="s.content" />
    </ul>
  </section>
</template>

<script>
import sources from '~/data/sources.json'

export default {
  data () {
    return {
      sources
    }
  }
}
</script>

<style scoped>
ul {
  padding-left: 0;
}

li {
  padding-bottom: .5rem;
}
</style>
