<template>
  <section :id="c.id">
    <h1>
      <span v-if="c.chapterlabel">
        <template v-if="c.type === 'appendix'">
          Appendix
        </template>
        {{c.chapterlabel}}.
      </span>
      <span v-html="c.title" />
    </h1>
    <p v-if="c.subtitle" class="subtitle">
      {{c.subtitle}}
    </p>
    <section v-html="c.content" :data-outerid="c.id"/>
  </section>
</template>

<script>
export default {
  props: {
    c: {
      type: Object,
      default () {
        return {}
      }
    }
  }
}
</script>

<style scoped>
.subtitle {
  font-style: italic;
  font-size: 16pt;
  margin: -1rem 0 0 0;
}

>>> h2 {
  scroll-margin-top: 1rem;
}
</style>
