<template>
  <main>
    <section id="cover">
      <img
        v-if="cover"
        class="cover"
        :src="`/${cover}`"
        alt="Book cover design"
      />
    </section>
    <section
      v-if="genfiles.description"
      v-html="genfiles.description.content"
      id="description"
      class="small-page"
    />
    <section class="links small-page">
      <template v-for="l in links">
        <g-link
          v-if="l.url.match(/^\/.*\/$/)"
          :to="l.url">
          <div>
            <span>{{ l.text }}</span>
          </div>
        </g-link>
        <a
          v-else
          target="_blank"
          :href="l.url"
        >
          <div>
            <span>{{ l.text }}</span>
          </div>
        </a>
      </template>
    </section>
    <section
      v-if="genfiles.endorsements"
      id="endorsements"
      class="endorsements"
      v-html="genfiles.endorsements.content"
    />
    <section
      v-if="genfiles.titlepage"
      v-html="genfiles.titlepage.content"
      id="titlepage"
      class="titlepage"
    />
    <section
      v-if="genfiles.copyright"
      v-html="genfiles.copyright.content"
      id="copyright"
    />
    <section
      v-if="genfiles.dedication"
      v-html="genfiles.dedication.content"
      id="dedication"
      class="dedication"
    />
    <lof id="lof" />
    <chapter
      v-if="genfiles.foreword"
      :c="genfiles.foreword"
      id="foreword"
    />
    <chapter
      v-for="c in [...genfiles.chapters, ...genfiles.appendices]"
      :c="c"
      :key="c.id"
    />
    <bibliography id="bibliography" />
    <index
      v-for="i in indices"
      :id="`idx${i.key}`"
      :key="i.key"
      :data="i" />
    <section
      v-if="genfiles.errata"
      id="errata"
      class="errata"
    >
      <h1>Errata</h1>
      <section v-html="genfiles.errata.content" />
    </section>
  </main>
</template>

<script>
import Bibliography from '~/components/Bibliography'
import Chapter from '~/components/Chapter'
import Index from '~/components/Index'
import Lof from '~/components/Lof'
import indices from '~/data/indices.json'
import links from '~/data/links.json'
import metadata from '~/data/metadata.json'

export default {
  components: {
    Bibliography,
    Chapter,
    Index,
    Lof
  },
  props: {
    genfiles: {
      type: Object,
      default () {
        return {}
      }
    }
  },
  data () {
    return {
      indices,
      links
    }
  },
  mounted () {
    const subsections = {}
    for (const h of document.querySelectorAll('h1,h2')) {
      const s = h.closest('section')
      let id = s.id || s.dataset.outerid
      if (h.tagName === 'H2') {
        const num = (subsections[id] || 0) + 1
        subsections[id] = num
        id = `${id}_${num}`
        h.id = id
      }
      h.innerHTML = h.innerHTML + ` <a href="#${id}">#</a>`
    }
  },
  computed: {
    cover () {
      return metadata.cover
    }
  }
}
</script>

<style scoped>
main {
  margin: 0 auto;
  max-width: 45rem;
  overflow: hidden;
  padding: 0 2rem;
}

section {
  scroll-margin-top: 2rem;
  margin: 2rem 0;
  min-height: calc(100vh - 4rem);
}

#cover {
  display: grid;
  place-items: center;
}

.cover {
  width: 100%;
  object-fit: contain;
}

.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.links > a {
  display: block;
  margin: 1rem;
  width: 13rem;
  max-width: 100%;
  height: 10rem;
  box-sizing: border-box;
  border-radius: 10px;
  border: 4px black solid;
  font-size: 22pt;
  text-align: center;
  padding: 1rem;
  color: black;
  background-color: var(--lightest-gray);
  hyphens: manual;
}

.links > a:hover {
  color: #888;
  background-color: white;
}

.links > a div {
  display: flex;
  height: 100%;
  width: 100%;
  text-align: center;
  vertical-align: middle;
}

.links > a div span {
  display: block;
  margin: auto;
}

.small-page {
  min-height: 0;
}

.hrbreak {
  display: none;
}
</style>
