<template>
  <section>
    <h1>{{data.title}}</h1>
    <section v-for="g in data.groups" :data-outerid="`idx${data.key}`">
      <h2 v-if="g.name"v-html="g.name" />
      <ul>
        <li v-for="e in g.entries">
          <span v-html="e.name" />&nbsp;
          <template v-for="(i, x) in e.instances">
            <span v-if="x">, </span>
            <a v-if="i.id" :href="`#${i.id}`">{{i.pp}}</a>
            <span v-else="i.id" v-html="i.pp" />
          </template>
        </li>
      </ul>
    </section>
  </section>
</template>

<script>
export default {
  props: {
    data: {
      type: Object,
      default () {
        return {}
      }
    }
  }
}
</script>
