<template>
  <div class="infobox" :class="{expanded}" >
    <close-icon @click="onclose" class="close" />
    <slot />
  </div>
</template>

<script>
import CloseIcon from 'vue-material-design-icons/Close.vue';

export default {
  components: {
    CloseIcon
  },
  props: {
    expanded: {
      type: Boolean,
      default () {
        return false
      }
    },
    onclose: {
      type: Function,
      default () {
        return () => {}
      }
    }
  }
}
</script>

<style scoped>
.infobox {
  position: fixed;
  bottom: -10rem;
  height: 10rem;
  transition: bottom .25s;
  padding: 1.5rem 1rem 1rem 1rem;
  overflow: auto;
  box-sizing: border-box;
  background-color: #f0f0f0;
  border-top: 2px solid black;
}

.info.expanded {
  bottom: 0;
}

.close {
  position: absolute;
  top: 0rem;
  right: 0;
  cursor: pointer;
  margin: .5rem;
}
</style>
