<template>
  <section>
    <h1>List of Figures</h1>
    <table>
      <tr v-for="f in figures">
        <td>{{f.chapterlabel}}.{{f.index}}</td>
        <td>
          <a :href="`#${f.id}`" v-html="f.caption"></a>
        </td>
      </tr>
    </table>
  </section>
</template>

<script>
import figures from '~/data/figures.json'

export default {
  data () {
    return {
      figures
    }
  }
}
</script>

<style scoped>
td:first-child {
  text-align: right;
  padding-right: 1rem;
}
</style>
