<template>
  <nav>
    <header class="dark">
      <a href="#cover">{{ $static.metadata.siteName }}</a>
    </header>
    <ul>
      <li
        v-for="s in sections"
        :key="s.id"
        :class="{highlighted: highlighted === s.id}"
      >
        <a :href="`#${s.id}`" :class="{'gap-before': s.gapBefore}">
          <span v-if="s.label" class="chapterlabel">{{s.label}}</span>
          <span v-html="s.title"/>
        </a>
      </li>
    </ul>
  </nav>
</template>

<static-query>
query {
  metadata {
    siteName
  }
}
</static-query>

<script>
import indices from '~/data/indices.json'

export default {
  props: {
    genfiles: {
      type: Object,
      default () {
        return {}
      }
    },
    onclose: {
      type: Function,
      default () {
        return () => {}
      }
    }
  },
  data () {
    return {
      highlighted: null
    }
  },
  computed: {
    sections () {
      return [
        ...(this.genfiles.endorsements
          ? [{ id: 'description', title: 'Description' }]
          : []),
        ...(this.genfiles.endorsements
          ? [{ id: 'endorsements', title: 'Endorsements' }]
          : []),
        ...(this.genfiles.titlepage
          ? [{ id: 'titlepage', title: 'Title Page' }]
          : []),
        ...(this.genfiles.copyright
          ? [{ id: 'copyright', title: 'Copyright Information' }]
          : []),
        ...(this.genfiles.dedication
          ? [{ id: 'dedication', title: 'Dedication' }]
          : []),
        { id: 'lof', title: 'List of Figures' },
        ...(this.genfiles.foreword
          ? [{ id: 'foreword', title: 'Foreword' }]
          : []),
        ...this.genfiles.chapters.map((c, i) => ({
          id: c.id,
          label: c.chapterlabel,
          title: c.title,
          gapBefore: !i
        })),
        ...this.genfiles.appendices.map((a, i) => ({
          id: a.id,
          label: a.chapterlabel,
          title: a.title,
          gapBefore: !i
        })),
        { id: 'bibliography', title: 'Bibliography', gapBefore: true },
        ...indices.map(x => ({
          id: `idx${x.key}`,
          title: x.title,
        })),
        ...(this.genfiles.errata
          ? [{ id: 'errata', title: 'Errata' }]
          : []),
      ]
    }
  },
  mounted () {
    const elems = this.sections.map(s => document.querySelector(`#${s.id}`))
    document.addEventListener('scroll', () => {
      this.highlighted = null
      for (const e of elems) {
        // Change the highlighted ID if it's within 10 pixels from the top.
        const offset = parseFloat(getComputedStyle(e).scrollMarginTop)
        if (e.getBoundingClientRect().y > offset + 10) break
        this.highlighted = e.id
      }
    })
  },
  watch: {
    highlighted (v) {
      this.$gtag.event('scroll', {
        event_category: 'engagement',
        event_label: v
      })
    }
  }
}
</script>

<style scoped>
nav {
  height: 100%;
  overflow: auto;
  background-color: var(--nav-background);
  color: var(--nav-stroke);
}

nav >>> ul {
  padding: 0;
  list-style-type: none;
}

nav >>> li {
  list-style-type: none;
}

nav >>> li:hover,
nav >>> li.highlighted {
  background-color: var(--nav-highlight-background);
}

nav >>> li a {
  display: block;
  padding: .25rem 1rem;
  color: var(--nav-stroke);
}

nav >>> li:hover a,
nav >>> li.highlighted a {
  color: white;
  color: var(--nav-highlight-stroke);
}

header {
  text-align: center;
  font-size: 18pt;
  background-color: var(--header-background);
  color: var(--header-stroke);
}

header a {
  display: block;
  padding: 1rem;
}

header a:hover {
  color: var(--header-stroke-light);
}

.chapterlabel {
  text-align: right;
  display: inline-block;
  width: 1rem;
  padding-right: 1rem;
}

.gap-before {
  margin-top: 1rem;
}
</style>
