module.exports = Object.assign({
  siteName: '{{title}}',
  plugins: [
    module.exports = {
      use: '@gridsome/source-filesystem',
      options: {
        baseDir: './genfiles',
        path: [
          '**/*.json'
        ],
        typeName: 'Genfile'
      }
    }
  ],
  templates: {
    Genfile: '/:id/:title'
  }
}, {{gridsomeConfig}})
