/* eslint-env browser */
import '~/assets/main.css'
import headTags from '~/data/head.json'
{{#if googleAnalytics}}
import VueGtag from 'vue-gtag'
{{/if}}

{{#each stylesheets}}
import '~/assets/stylesheets/{{this}}'
{{/each}}

export default function (Vue, { head, router }) {
  for (const [tag, attrs] of headTags) {
    head[tag].push(attrs)
  }

  // Overwrite the router options.
  router.options.scrollBehavior = async (to, from, savedPosition) => {
    if (to.hash) {
      const elem = document.querySelector(to.hash)
      // vue-router does not incorporate scroll-margin-top on its own.
      if (elem) {
        const offset = parseFloat(getComputedStyle(elem).scrollMarginTop)
        return {
          selector: to.hash,
          offset: { y: offset }
        }
      }
    }
    if (savedPosition) return savedPosition
    return { x: 0, y: 0 }
  }

{{#if googleAnalytics}}
  Vue.use(VueGtag, {
    config: {
      id: '{{googleAnalytics.measurementId}}'
    }
  })
{{/if}}
}
