{
  "name": "project",
  "private": true,
  "scripts": {
    "develop": "gridsome develop",
    "explore": "gridsome explore",
    "build": "gridsome build"
  },
  "dependencies": {
{{#each packages}}
    "{{name}}": "{{version}}",
{{/each}}
    "@gridsome/source-filesystem": "^0.6.2",
    "@gridsome/transformer-json": "^0.2.1",
    "gridsome": "^0.7.0",
{{#if googleAnalytics}}
    "vue-gtag": "^1.16.1",
{{/if}}
    "vue-material-design-icons": "^4.11.0"
  }
}
