:root {
  --text-color: #252525;
  --light-gray: #dadada;
  --lightest-gray: #f0f0f0;
  --default-background: #ffffff;
  --link-color: #0091e8;
  --link-highlight-color: #52beff;
}

html, body {
  margin: 0;
}

body {
  font-size: 14pt;
  line-height: 1.3;
  color: var(--text-color);
}

main {
  text-align: justify;
  text-justify: inter-word;
  hyphens: auto;
  font-family: serif;
}

a, a:visited {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  color: var(--link-highlight-color);
}

.dark {
  color: #ffffff;
}

.dark a,
.dark a:visited {
  color: var(--light-gray);
}

.dark a:hover {
  color: #ffffff;
}

.Huge {
  font-size: 32pt;
}

.large {
  font-size: 18pt;
}

.it {
  font-style: italic;
}

.sc {
  font-variant: small-caps;
}

table {
  border-spacing: 1rem 0;
}

img {
  width: 100%;
  max-height: calc(100vh - 4rem);
  object-fit: contain;
}

.titlepage {
  text-align: center;
}

.dedication {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-style: italic;
  text-align: center;
}

ul.content-list {
  list-style-type: none;
}

.caption {
  text-align: center;
}

.footnotemark {
  vertical-align: top;
  position: relative;
  top: -0.3em;
  white-space: nowrap;
}

dt {
  font-weight: bold;
}

dd {
  font-style: italic;
}

.centered {
  margin-left: auto;
  margin-right: auto;
}

.figure {
  width: 100%;
}

h1 {
  font-size: 24pt;
}

h2 {
  font-size: 18pt;
}

blockquote[fullwidth]::before {
  content: open-quote;
}

blockquote[fullwidth]::after {
  content: close-quote;
}

blockquote {
  quotes: "“" "”" "‘" "’";
}

.material-design-icon > .material-design-icon__svg {
  height: 2rem;
  width: 2rem;
  vertical-align: middle;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.center {
  text-align: center;
}
